.skill-container{
    text-align: center;
    margin-top: 20px;
}

.skill-image{
    margin: 10px;
    /* width: 140px; */
}
.skill-bar{
    padding: 10px;
    /* border: 1px solid rgb(227, 230, 255); */
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 26px;
    line-height: 56px;
    color: #3e4c59;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
  }